<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>Custom</WebPublishMethod>
    <ResourceId>/subscriptions/28240195-1aed-45c4-a100-ad155e0dd15c/resourcegroups/AzureMigrateResource/providers/Microsoft.Web/sites/WebAppDockerSample</ResourceId>
    <ResourceGroup>AzureMigrateResource</ResourceGroup>
    <LaunchSiteAfterPublish>false</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://webappdockersample.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <ContainerResourceId>/subscriptions/28240195-1aed-45c4-a100-ad155e0dd15c/resourcegroups/AzureMigrateResource/providers/Microsoft.ContainerRegistry/registries/webappdockerregistry</ContainerResourceId>
    <ContainerResourceName>webappdockerregistry</ContainerResourceName>
    <Subscription>Visual Studio Enterprise – MPN</Subscription>
    <Subtype>ContainerRegistry</Subtype>
    <RegistryUrl>https://webappdockerregistry.azurecr.io</RegistryUrl>
    <DockerPublish>true</DockerPublish>
    <PublishProvider>AppServiceLinux</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>f83797fa-75f2-46f9-af1d-b627925e8861</ProjectGuid>
  </PropertyGroup>
</Project>